
__pycache__/
!.gitkeep
!src/models/
.cache
.coverage
.coverage.*
.DS_Store
.dvc/
.eggs/
.env
.hydra/
.idea/
.installed.cfg
.ipynb_checkpoints/
.mypy_cache/
.Python
.spyproject/
.tox/
.venv/
.vscode/
*.aux
*.bbl
*.bcf
*.blg
*.cover
*.db
*.egg
*.egg-info/
*.fdb_latexmk
*.fls
*.joblib
*.log
*.manifest
*.mo
*.out
*.pot
*.py[cod]
*.rdb
*.run.xml
*.so
*.spec
*.swo
*.swp
*.synctex.gz
*.synctex(busy)
*.temp
*.tmp
*.toc
build/
combined.txt
coverage.xml
data/
debug/
develop-eggs/
dist/
docs/_build/
downloads/
dvc_outputs/
eggs/
env/
htmlcov/
lib/
lib64/
models/
nosetests.xml
outputs/
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
terraform/.terraform/providers/
tree.txt
var/