__pycache__/
.cache
.coverage
.coverage.*
.DS_Store
.dvc/config.local
.eggs/
.env
.idea
.installed.cfg
.ipynb_checkpoints/
.mypy_cache/
.Python
.spyproject/
.tox/
.venv/
.vscode/
*.cover
*.db
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.rdb
*.so
*.spec
*.swo
*.swp
*.temp
*.tmp
build/
combined.txt
coverage.xml
data/
develop-eggs/
dist/
docs/_build/
downloads/
terraform/.terraform/providers/
eggs/
env/
htmlcov/
lib/
lib64/
models/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/