[MASTER]
# Basic pylint configuration

ignore=
    migrations,
    tests,
    setup.py

[MESSAGES CONTROL]
# Disable some pylint warnings
disable=
    missing-docstring,
    invalid-name,
    line-too-long,
    too-few-public-methods,
    import-error

[FORMAT]
max-line-length=88
