aiohttp
autogluon.tabular[all]
black[jupyter]
dask[dataframe]
datasets
dvc[all]
dvclive
flake8
hydra_colorlog
hydra-core
isort
joblib
matplotlib
numpy
omegaconf
openai
pandas
pdf2image
Pillow
pyjanitor
python-pptx
ruff
scikit-learn
seaborn
shap
tenacity
tensorflow
tensorflow-addons
tensorflow-cpu
virtualenv
