# aiohttp
autogluon.tabular[all]
black[jupyter]
botocore
dask[dataframe]
datasets
dvc[all]
dvclive
flake8
hydra_colorlog
hydra-core
isort
joblib
# moviepy
numpy
openai
pandas
# pdf2image
# Pillow
# python-pptx
scikit-learn
seaborn
tenacity
# vimeo