/reports
/requirements-autogluon-frozen.txt
/.venv-autogluon
/requirements-neuralnetwork-frozen.txt
/.venv-neuralnetwork
/requirements-logisticregression-frozen.txt
/.venv-logisticregression
/requirements-frozen.txt
