/.pytest_cache
/.venv-autogluon
/.venv-explore
/.venv-featurize
/.venv-infrastruct
/.venv-ingest
/.venv-logisticregression
/.venv-neuralnetwork
/.venv-preprocess
/autogluon-frozen.txt
/dag.md
/deploy-frozen.txt
/explore-frozen.txt
/featurize-frozen.txt
/frozen.txt
/infrastruct-frozen.txt
/ingest-frozen.txt
/logisticregression-frozen.txt
/neuralnetwork-frozen.txt
/preprocess-frozen.txt
/requirements.txt
/reports
update.sh
wandb/*
