autogluon.tabular[all]
autoviz
black[jupyter]
boto3
cleanlab
dask[dataframe]
datasets
dtale
dvc[all]
dvclive
feast[aws]
flake8
imblearn
isort
joblib
matplotlib
missingno
numba<=0.58.1
numpy
optuna
pandas
python-dotenv
python-pptx
ray
ruff
scikit-learn
seaborn
shap
tenacity
tensorflow
tensorflow-addons
tensorflow-cpu
ucimlrepo
virtualenv