/missing_values.png
/time_in_hospital_distribution.png
/num_lab_procedures_distribution.png
/num_procedures_distribution.png
/num_medications_distribution.png
/number_diagnoses_distribution.png
/number_outpatient_distribution.png
/number_emergency_distribution.png
/number_inpatient_distribution.png
/readmission_distribution.png
